.pool-plan {
    border-radius: 20px;
    padding-inline: --spacing(6);
    position: relative;
    display: flex;
    flex-direction: column;

    & .button {
        margin-top: auto;
    }

    & .pool-plan__image {
        width: 100%;
        position: relative;
        aspect-ratio: 1.55 / 1;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: --spacing(6);

        & img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    & .pool-plan__header {
        border-radius: 20px;
        padding: --spacing(6);
    }

    & .pool-plan__header__name {
        font-size: 26px;
        line-height: 35px;
        font-weight: 800;
    }

    & .pool-plan__header__subtitle {
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        margin-bottom: --spacing(8);
    }

    & .pool-plan__header__price {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: --spacing(2);
        margin-bottom: --spacing(8);
    }

    & .pool-plan__header__price__val {
        font-size: 64px;
        line-height: 1;
        font-weight: 800;
        letter-spacing: -0.02em;
    }

    & .pool-plan__header__price__unit,
    & .pool-plan__header__commitment__price {
        font-size: 14px;
        line-height: 19px;
        font-weight: 300;
    }

    & .pool-plan__header__commitment {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: --spacing(2.5);

        & > svg {
            border-radius: calc(infinity * 1px);
            background-color: var(--color-white);
        }

        & > div {
            text-align: left;
        }
    }

    & .pool-plan__header__commitment__val {
        font-size: 18px;
        line-height: 25px;
        font-weight: 800;
    }

    & .pool-plan__features {
        padding-block: --spacing(19);
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: --spacing(6);
        font-weight: 800;

        & li {
            position: relative;
            font-size: 16px;
            line-height: 19px;
            padding-left: --spacing(6);

            &::before {
                content: "";
                display: block;
                width: --spacing(4.25);
                height: --spacing(4.25);
                position: absolute;
                top: 0;
                left: 0;
                background-color: var(--color-white);
                background-repeat: no-repeat;
                background-position: center;
                border-radius: calc(infinity * 1px);
            }
        }
    }

    &.pool-plan--recommended {
        background-color: var(--color-blue);
        padding-block: --spacing(9);
        margin-block: --spacing(-5);

        & .pool-plan__header {
            background-color: --alpha(var(--color-white) / 20%);
            color: var(--color-white);
        }

        & .pool-plan__header__commitment > svg {
            color: var(--color-orange);
        }

        & .pool-plan__features {
            color: var(--color-white);

            & li::before {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%23F25B3A" class="size-10"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>');
            }
        }
    }

    &:not(.pool-plan--recommended) {
        background-color: var(--color-white);
        padding-block: --spacing(7);

        & .pool-plan__header {
            background-color: --alpha(var(--color-blue) / 10%);
            color: var(--color-blue-dark);
        }

        & .pool-plan__header__name,
        & .pool-plan__header__subtitle {
            color: var(--color-blue);
        }

        & .pool-plan__header__commitment > svg {
            color: var(--color-violet);
        }

        & .pool-plan__features {
            color: var(--color-blue);

            & li::before {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%238F9CE9" class="size-10"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>');
            }
        }
    }

    & .pool-plan__recommended {
        position: absolute;
        top: --spacing(-6);
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-orange);
        color: var(--color-white);
        font-size: 16px;
        line-height: --spacing(12);
        text-transform: uppercase;
        font-weight: 700;
        display: inline-flex;
        padding-inline: --spacing(7);
        border-radius: calc(infinity * 1px);
        min-width: max-content;
    }

    &.pool-plan--carousel {
        padding-block: --spacing(6);

        & .pool-plan__header {
            background-color: transparent;
            padding: 0;
        }

        & .pool-plan__header__name {
            font-size: 26px;
            line-height: 35px;
            margin-bottom: --spacing(4.5);
        }

        & .pool-plan__features {
            padding-top: --spacing(6);
            padding-bottom: --spacing(10);
            color: var(--color-blue-dark);
        }
    }
}

@media screen and (max-width: 767px) {
    .pool-plan.pool-plan--recommended {
        margin-block: 0;
    }
}