.sidebar-blog {
    background-color: var(--color-white);
    border-radius: --spacing(5);

    & div.widget {
        padding: --spacing(7.5);

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-blue-light);
        }

        & > h3 {
            position: relative;
            font-size: var(--text-2xl);
            line-height: --spacing(8.5);
            font-weight: 600;
            padding-bottom: --spacing(7.5);

            &::after {
                content: "";
                display: block;
                width: --spacing(7.5);
                height: --spacing(0.75);
                background-color: var(--color-blue);
                margin-top: --spacing(5);
            }
        }
    }

    & .widget_categories {
        & a {
            position: relative;
            display: block;
            line-height: --spacing(6.5);
            color: var(--color-violet);
            padding: --spacing(4) --spacing(7.5);

            &::before {
                content: "";
                display: block;
                width: --spacing(4.5);
                height: --spacing(4.25);
                position: absolute;
                top: --spacing(5);
                left: 0;
                background-repeat: no-repeat;
                background-image: url('data:image/svg+xml,<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.4" d="M0 3.50024V14.5002C0 14.3252 0.046875 14.1534 0.1375 13.9971L3.6375 7.99712C3.81562 7.68774 4.14375 7.50024 4.5 7.50024H15V5.50024C15 4.39712 14.1031 3.50024 13 3.50024H9.32812C8.79688 3.50024 8.2875 3.29087 7.9125 2.91587L7.08437 2.08462C6.70937 1.70962 6.2 1.50024 5.66875 1.50024H2C0.896875 1.50024 0 2.39712 0 3.50024ZM0.075 14.8784C0.084375 14.9002 0.09375 14.919 0.103125 14.9377C0.1125 14.9565 0.121875 14.9784 0.134375 14.9971C0.1125 14.9596 0.09375 14.919 0.075 14.8784ZM14.4187 14.9096C14.6562 14.6721 14.8344 14.3721 14.925 14.0377L14.4187 14.9096Z" fill="%233D4BA8"/><path d="M4.49981 7.50024C4.14356 7.50024 3.81543 7.68774 3.63731 7.99712L0.137307 13.9971C-0.0439428 14.3065 -0.0439428 14.6877 0.134182 15.0002C0.312307 15.3127 0.640432 15.5002 0.999807 15.5002H13.4998C13.8561 15.5002 14.1842 15.3127 14.3623 15.0034L17.8623 9.00337C18.0436 8.69399 18.0436 8.31274 17.8654 8.00024C17.6873 7.68774 17.3592 7.50024 16.9998 7.50024H4.49981Z" fill="%233D4BA8"/></svg>');
            }
        }

        & li:hover a,
        & li.current-cat a {
            color: var(--color-orange);

            &::before {
                background-image: url('data:image/svg+xml,<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.4" d="M0 3.50024V14.5002C0 14.3252 0.046875 14.1534 0.1375 13.9971L3.6375 7.99712C3.81562 7.68774 4.14375 7.50024 4.5 7.50024H15V5.50024C15 4.39712 14.1031 3.50024 13 3.50024H9.32812C8.79688 3.50024 8.2875 3.29087 7.9125 2.91587L7.08437 2.08462C6.70937 1.70962 6.2 1.50024 5.66875 1.50024H2C0.896875 1.50024 0 2.39712 0 3.50024ZM0.075 14.8784C0.084375 14.9002 0.09375 14.919 0.103125 14.9377C0.1125 14.9565 0.121875 14.9784 0.134375 14.9971C0.1125 14.9596 0.09375 14.919 0.075 14.8784ZM14.4187 14.9096C14.6562 14.6721 14.8344 14.3721 14.925 14.0377L14.4187 14.9096Z" fill="%23F25B38"/><path d="M4.49981 7.50024C4.14356 7.50024 3.81543 7.68774 3.63731 7.99712L0.137307 13.9971C-0.0439428 14.3065 -0.0439428 14.6877 0.134182 15.0002C0.312307 15.3127 0.640432 15.5002 0.999807 15.5002H13.4998C13.8561 15.5002 14.1842 15.3127 14.3623 15.0034L17.8623 9.00337C18.0436 8.69399 18.0436 8.31274 17.8654 8.00024C17.6873 7.68774 17.3592 7.50024 16.9998 7.50024H4.49981Z" fill="%23F25B38"/></svg>');
            }
        }

        & li:not(:last-child) a {
            border-bottom: 1px solid var(--color-violet);
        }
    }

    & .widget_tag_cloud {
        & .tagcloud {
            display: flex;
            flex-wrap: wrap;
            gap: --spacing(4);

            & a {
                background-color: --alpha(var(--color-orange) / 10%);
                color: var(--color-violet);
                font-size: var(--text-sm) !important;
                line-height: --spacing(10);
                padding-inline: --spacing(4.5);
                border-radius: --spacing(8.5);

                &:hover {
                    color: var(--color-white);
                    background-color: var(--color-orange);
                }
            }
        }
    }
}